.container.pt-5.pb-5(*ngIf="show")
  h2.text-center Subscribe for Updates
  h6.text-center Subscribe to get updates about Naloxone Exchange in your state.

  form.mt-5("[formGroup]"="form" "(ngSubmit)"="subscribe()")
    .form-row.text-center
      .col-md-6
        input.form-control.email-input(
            formControlName="email"
            type="email"
            placeholder="Email Address"
            "[ngClass]"="{ 'is-invalid': sectionInvalid('email') }")
        .invalid-feedback A valid email address is required.

      .col-md-4
        select.form-control.state-input(
            formControlName="state"
            "[ngClass]"="{ 'is-invalid': sectionInvalid('state') }"
            name="state")
          option(value="" selected disabled) State
          option(*ngFor="let state of getStates()" "[value]"="state.name") {{state.name}}
        .invalid-feedback State is required.

      .col-md-2
        button.btn.btn-dark(
            title="subscribe for updates"
            type="submit") Subscribe
