.container-fluid.pt-1.pb-1(*ngIf="show")
  form("[formGroup]"="subscribeForm" "(ngSubmit)"="subscribe()")
    .form-row
      .form-group.col-md-12.col-lg-4.text-center.text-lg-left
        h5 Subscribe for updates!
        small.form-text We will never share this information with third parties.

      .form-group.col-md.col-lg-4
        input.form-control.email-input(
            type="email"
            placeholder="john.doe@email.com"
            name="email"
            "[formControl]"="subscribeForm.controls['email']"
            required)
        small.form-text.text-danger(*ngIf="subscribeForm.touched && subscribeForm.get('email').invalid")
          | A valid email address is required.

      .form-group.col-8.col-sm-8.col-md
        select.form-control.state-input(
            name="state"
            "[formControl]"="subscribeForm.controls['state']"
            required)
            option(value="" selected disabled) State
            option(*ngFor="let state of getStates()" "[value]"="state.name") {{state.name}}
        small.form-text.text-danger(*ngIf="subscribeForm.touched && subscribeForm.get('state').invalid") State is required.

      .form-group.col-4.col-sm-4.col-md-2
        button.btn.btn-primary.float-right.float-lg-none(
            "[disabled]"="!subscribeForm.valid"
            title="subscribe for updates"
            type="submit") Subscribe
