.login-container.text-center.mb-2
  h3.mb-5.mt-3 {{user}} Login
  .container.text-center.mb-5
    .mb-2 Login with
    i.fa.fa-facebook-f.circle-icon.mr-4(style="color: white" "(click)"="socialSignIn('Facebook')")
    i.fab.fa-google.circle-icon(style="color: white" "(click)"="socialSignIn('Google')")

  .or-seperator.mt-3.mb-3
    b.or or

  .container.text-center.pt-1.pb-1
    form(
        "[formGroup]"="loginForm"
        "(ngSubmit)"="login()")

      .form-group
        select.form-control(formControlName="AccountType")
          option(value="" selected disabled) Account Type
          option(*ngFor="let typeKey of accountTypeKeys" "[value]"="typeKey") {{accountTypeEnum[typeKey]}}
          
      .form-group
        input.form-control(
            type="text"
            formControlName="Username"
            placeholder="username@email.com"
            "[ngClass]"="{ 'is-invalid': loginForm.get('Username').touched && loginForm.get('Username').invalid }")
        .invalid-feedback(*ngIf="loginForm.get('Username').touched && loginForm.get('Username').invalid")
          .text-left Username is required

      .form-group
        input.form-control(
            type="password"
            formControlName="Password"
            placeholder="Password"
            "[ngClass]"="{ 'is-invalid': loginForm.get('Password').touched && loginForm.get('Password').invalid }")
        .invalid-feedback(*ngIf="loginForm.get('Password').touched && loginForm.get('Password').invalid")
          .text-left Password is required

      .alert.alert-danger.text-left(*ngIf="error") {{error}}

      .form-group
        button.btn.btn-primary.login-btn.w-100(type="submit") Login
  a(routerLink="/account/register") Create an Account
