.container-fluid
  form(
      "[formGroup]"="form"
      "(ngSubmit)"="update()")

    .form-group
      label Current Password
      input.form-control(
          type="password"
          placeholder="Old Password"
          formControlName="currentPassword"
          "[ngClass]"="{ 'is-invalid': form.get('currentPassword').touched && form.get('currentPassword').invalid }")
      .invalid-feedback(*ngIf="form.get('currentPassword').touched && form.get('currentPassword').invalid")
        .text-left Current password is required.

    .form-group
      label New Password
      input.form-control(
          type="password"
          placeholder="New Password"
          formControlName="newPassword"
          "[ngClass]"="{ 'is-invalid': form.get('newPassword').touched && form.get('newPassword').invalid }")
      .invalid-feedback(*ngIf="form.get('newPassword').touched && form.get('newPassword').invalid")
        .text-left(*ngFor="let error of form.get('newPassword').errors | keyvalue") {{error.value}}

    .form-group
      label Confirm New Password
      input.form-control(
          type="password"
          placeholder="Confirm New Password"
          formControlName="confirmNewPassword"
          "[ngClass]"="{ 'is-invalid': form.get('confirmNewPassword').touched && form.get('confirmNewPassword').invalid }")
      .invalid-feedback(*ngIf="form.get('confirmNewPassword').touched && form.get('confirmNewPassword').hasError('compare')")
        .text-left Password does not match

    .form-group
      .alert.alert-danger.text-left(*ngIf="error") {{error}}
      .alert.alert-success(*ngIf="success != null") {{success.message}}

    .form-group
      .btn-group.pull-right
        button.btn.btn-primary(type="submit", "[disabled]"="form.invalid") Update
