header.text-center
  h2 Contact Us

section
  .row.mt-2
    .col-lg-12
      .alert.alert-success(*ngIf="sentMsg") Message Sent!
        a.pull-right.alert-link(routerLink="/about-us" fragment="app-contact" "(click)"="reset()") Reset
      form("[formGroup]"="contactForm" "(ngSubmit)"="submitContactUsForm(contactForm.value)")
        .form-row
          .form-group.col-md-6.col-sm-12
            label Name:
            input.form-control(
              formControlName="name"
              placeholder='Enter Name'
              required
              type='text')
            small.form-text.text-danger(*ngIf="contactForm.get('name').touched && contactForm.get('name').invalid") You must add a valid name.
        .form-row
          .form-group.col-md-6.col-sm-12
            label Email:
            input.form-control(
              formControlName="email"
              placeholder='Enter Email Address'
              required
              type='email')
            small.form-text.text-danger(*ngIf="contactForm.get('email').touched && contactForm.get('email').invalid") You must add a valid email address.
        .form-row
          .form-group.col-md-12
            label Message:
            textarea.form-control(
              formControlName="message"
              placeholder='Enter Message'
              required
              rows=10
              type='text')
            small.form-text.text-danger(*ngIf="contactForm.get('message').touched && contactForm.get('message').invalid") You must add a valid message.
          .form-group(*ngIf="!sentMsg")
            button.btn.btn-primary(
              "[disabled]"="!contactForm.valid"
              type='submit') Contact Us
