header.text-center
  h1 Contact Us

section
  .row.mt-2
    .col-lg-12
      .alert.alert-success(*ngIf="sentMsg") Message Sent!
        a.pull-right.alert-link.reset(routerLink="/about-us" fragment="app-contact" "(click)"="reset()") Reset
      form("[formGroup]"="contactForm" "(ngSubmit)"="submitContactUsForm(contactForm.value)")
        .form-row
          .form-group.col-md-6.col-sm-12
            label Name:
            input.form-control(
              "[formControl]"="contactForm.controls['name']"
              name='name'
              placeholder='Enter Name'
              required
              type='text')
            span.text-danger(*ngIf="contactForm.controls.name.touched && contactForm.controls.name.invalid") You must add a valid name.
        .form-row
          .form-group.col-md-6.col-sm-12
            label Email:
            input.form-control(
              "[formControl]"="contactForm.controls['email']"
              name='email'
              placeholder='Enter Email Address'
              required
              type='email')
            span.text-danger(*ngIf="contactForm.controls.email.touched && contactForm.controls.email.invalid") You must add a valid email address.
        .form-row
          .form-group.col-md-12
            label Message:
            textarea.form-control(
              "[formControl]"="contactForm.controls['message']"
              name='message'
              placeholder='Enter Message'
              required
              rows=10
              type='text')
            span.text-danger(*ngIf="contactForm.controls.message.touched && contactForm.controls.message.invalid") You must add a valid message.
          .form-group(*ngIf="!sentMsg")
            button.btn.btn-primary(
              "[disabled]"="!contactForm.valid"
              type='submit') Contact Us
