header.full-header.text-center
  h1 Contact Us
  h5
    em Ask us anything, or share your feedback.

.container.header-eater.bg-white.w-50
  section
    .row
      .col-lg-12
        .alert.alert-success(*ngIf="sentMsg") Message Sent!
          a.pull-right.alert-link(routerLink="/about-us" fragment="app-contact" "(click)"="reset()") Reset

  section
    form("[formGroup]"="contactForm" "(ngSubmit)"="submitContactUsForm(contactForm.value)")

      .form-group
        label Name:
        input.form-control(
          formControlName="name"
          "[ngClass]"="{ 'is-invalid': contactForm.get('name').touched && contactForm.get('name').invalid }"
          placeholder='Enter Name'
          required
          type='text')
        .invalid-feedback You must add a valid name.

      .form-group
        label Email:
        input.form-control(
          formControlName="email"
          "[ngClass]"="{ 'is-invalid': contactForm.get('email').touched && contactForm.get('email').invalid }"
          placeholder='Enter Email Address'
          required
          type='email')
        .invalid-feedback You must add a valid email address.

      .form-group
        label Message:
        textarea.form-control(
          formControlName="message"
          placeholder='Enter Message'
          "[ngClass]"="{ 'is-invalid': contactForm.get('message').touched && contactForm.get('message').invalid }"
          required
          rows=10
          type='text')
        .invalid-feedback You must add a valid message.

      .form-group(*ngIf="!sentMsg")
        button.btn.btn-primary(
          "[disabled]"="!contactForm.valid||contactForm.disabled"
          type='submit') Contact Us
