header.main-header
  nav.navbar.brand-bar.container
    a.navbar-brand
      img(
          src="/assets/logo/brand-logo.png"
          alt="Naloxone Exchange"
          )
  nav.navbar.navbar-expand-lg.navbar-light.container
    button.navbar-toggler(
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation",
        "(click)"="toggleMenu()")
      span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse("[ngbCollapse]"="isCollapsed")
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(routerLink="/") Home
        li.nav-item
          a.nav-link(routerLink="/products/narcan-1") Get Naloxone (Narcan)
        li.nav-item
          a.nav-link(routerLink="/products/narcan-1" fragment="usage") Using Narcan
        li.nav-item
          a.nav-link(routerLink="/overdose") Overdose Recognition
        li.nav-item
          a.nav-link(routerLink="/about") About Us

section.container.content-area
  //- content area
  router-outlet

footer.footer
  nav.navbar.brand-bar.navbar-light.bg-light
    .container
      div.text-muted.col-sm-3
       fa.mr-1(name="copyright")
       | Naloxone Exchange 2018
      div.text-muted.col-sm-9
       | 4220 S King Dr. 1S, Chicago IL 60653 US
