header
  nav.navbar.navbar-expand-md.navbar-light.bg-light
    a.d-md-none.d-lg-block.navbar-brand.pr-4.pl-4
      img(src="/assets/logo/logo.png" alt="Naloxone Exchange" height="50px")

    button.navbar-toggler(
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation",
        "(click)"="toggleMenu()")
      span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse("[ngbCollapse]"="isCollapsed")
      ul.navbar-nav.flex
        li.nav-item.dropdown(ngbDropdown)
          a.nav-link.dropdown-toggle.text-sm-left.text-md-center(ngbDropdownToggle routerLink="/") Home
          .dropdown-menu.text-center(ngbDropdownMenu)
            a.dropdown-item.nav-link(routerLink="/" fragment="how-it-works") How it Works
            a.dropdown-item.nav-link(routerLink="/" fragment="privacy") Privacy
            a.dropdown-item.nav-link(routerLink="/" fragment="sponsors") Sponsors
            a.dropdown-item.nav-link(routerLink="/" fragment="our-team") Our Team
        li.nav-item
          a.nav-link.text-sm-left.text-md-center(href="#") Buy Naloxone
        li.nav-item(ngbDropdown)
          a.nav-link.dropdown-toggle.text-sm-left.text-md-center(ngbDropdownToggle routerLink="/training") Training
          .dropdown-menu.text-center(ngbDropdownMenu)
            a.dropdown-item.nav-link(routerLink="/training" fragment="how-it-works") How it Works
            a.dropdown-item.nav-link(routerLink="/training" fragment="overdose-recognition") Overdose Recognition
            a.dropdown-item.nav-link(routerLink="/training" fragment="administering-naloxone") Administering Naloxone
            a.dropdown-item.nav-link(routerLink="/training" fragment="aftercare") Aftercare
        li.nav-item(ngbDropdown)
          a.nav-link.dropdown-toggle.text-sm-left.text-md-center(ngbDropdownToggle routerLink="/faq")  FAQs
          .dropdown-menu.text-center(ngbDropdownMenu)
            a.dropdown-item.nav-link(routerLink="/faq" fragment="privacy-hippa") Privacy and HIPPA
            a.dropdown-item.nav-link(routerLink="/faq" fragment="additional-resources") Additional Resources
        li.nav-item(ngbDropdown)
          a.nav-link.dropdown-toggle.text-sm-left.text-md-center(ngbDropdownToggle routerLink="/about") About Us
          .dropdown-menu.text-center(ngbDropdownMenu)
            a.dropdown-item.nav-link(routerLink="/about-us" fragment="mission") Mission
            a.dropdown-item.nav-link(routerLink="/about-us" fragment="history") History
            a.dropdown-item.nav-link(routerLink="/about-us" fragment="our-team") Our Team
            a.dropdown-item.nav-link(routerLink="/about-us" fragment="our-sponsors") Our Sponsors
        li.nav-item(ngbDropdown)
          a.nav-link.dropdown-toggle.text-sm-left.text-md-center(ngbDropdownToggle routerLink="pharmacy") RX
          .dropdown-menu.text-center(ngbDropdownMenu)
            a.dropdown-item.nav-link(routerLink="/pharmacy" fragment="our-partners") Partners

section.container.content-area
  app-update-subscriber
  //- content area
  router-outlet

footer.footer.bg-light
  .container.flex
    span.text-muted
      fa.mr-1(name="copyright")
      | Naloxone Exchange 2018
    span.text-muted
      | 4220 S King Dr. 1S, Chicago IL 60653 US
