header.text-center
  h1 Contact Us

section
  .row.mt-2
    .col-lg-8
      form
        div.form-group
          label(for='name') Name:
          input#name.form-control(type='text' name='name' required )
        div.form-group
          label(for='email') Email:
          input#email.form-control(type='text' name='email')
        div.form-group
          label(for='message') Message:
          input#message.form-control(type='text' name='message')
        button.btn.btn-primary('(click)'='submitForm()') Contact Us
        p {{model.name}}

        //#button('(click)'='onSubmit()')


          //#form(method='POST')
        //#fodrm('(ng-submit)'="onSubmit()")

          .form-group
            label(for='name') Name:
            input#name.form-control(
              type='text'
              name='name'
              "[formControl]"="contactUsForm.controls['name']"
              required )
          .form-group
            label(for='email') Email:
            input#email.form-control(
              type='email'
              name='email'
              "[formControl]"="contactUsForm.controls['email']"
              required )
          .form-group
            label(for='message') Message:
            input#message.form-control(
              type='text'
              name='message'
              "[formControl]"="contactUsForm.controls['message']"
              required )

//
        .form-group
          label(for='name') Name:
          input#name.form-control(
          type='text'
          name='name'
          "[formControl]"="contactUsForm.controls['name']"
          required )
