.container-fluid
  form("[formGroup]"="form" "(ngSubmit)"="submit()")

    .form-group
      label Full Name
      input.form-control(
          formControlName="name"
          type="text"
          placeholder="Full name"
          "[ngClass]"="{ 'is-invalid': sectionInvalid('name') }")
      .invalid-feedback(*ngIf="sectionInvalid('name')") Name is required.

    .form-group
      label Street Address
      input.form-control(
          formControlName="street"
          type="text"
          placeholder="street and number"
          "[ngClass]"="{ 'is-invalid': sectionInvalid('street') }")
      .invalid-feedback(*ngIf="sectionInvalid('street')") Street is required.

    .form-group
      input.form-control(
          formControlName="street2"
          type="text"
          placeholder="apartment, suite, unit, building, floor, etc")

    .form-group.form-row
      .col-sm-12.col-md-6
        label City
        input.form-control(
            formControlName="city"
            type="text"
            placeholder="City"
            "[ngClass]"="{ 'is-invalid': sectionInvalid('city') }")
        .invalid-feedback(*ngIf="sectionInvalid('city')") City is required.
        div.mb-2.d-md-none.d-lg-none

      .col
        label State
        select.form-control.state-input(
            formControlName="state"
            "[ngClass]"="{ 'is-invalid': sectionInvalid('state') }")
          option(value="" selected disabled) State
          option(*ngFor="let state of getStates()" "[value]"="state.name") {{state.name}}
        .invalid-feedback(*ngIf="sectionInvalid('state')") State is required.

      .col
        label Zip Code
        input.form-control(
            formControlName="zip"
            type="text"
            "[ngClass]"="{ 'is-invalid': sectionInvalid('zip') }")
        .invalid-feedback(*ngIf="sectionInvalid('zip')") A valid zip code is required.

    .form-group
      label Phone Number
      input.form-control(
          formControlName="phoneNumber"
          placeholder="(123) 456-789"
          "[ngClass]"="{ 'is-invalid': sectionInvalid('phoneNumber') }"
          type="text")
      small May be used to help assist delivery.
      .invalid-feedback(*ngIf="sectionInvalid('phoneNumber')") Phone numbers must be 10 characters long.

    .form-group
      label Special Instructions
      textarea.form-control(
          formControlName="specialInstructions"
          type="text"
          placeholder="Any special instructions to assist delivery such as descriptions, landmarks, building access or call box numbers, etc. (Optional)"
          "[ngClass]"="{ 'is-invalid': sectionInvalid('specialInstructions') }"
          rows=3)
      .invalid-feedback(*ngIf="sectionInvalid('specialInstructions')")
        | Special instructions cannot exceed {{form.get('specialInstructions').errors.maxlength.requiredLength}} characters.

    .form-group.form-check
      input.form-check-input(
          formControlName="weekendOkay"
          type="checkbox"
          text="Check this box if it is okay to deliver packages to you on weekends.")
      label.form-check-label I can receive packages on weekends (Saturday and Sunday).

    .alert.alert-danger(*ngIf="error != null") {{error.message}}

    .form-group
      button.btn.btn-primary.pull-right("[disabled]"="form.invalid" type="submit") Submit
      button.btn.btn-secondary.pull-right.mr-2("(click)"="reset()") reset
